.App {
  text-align: center;
  font-size: 14px;
}

.App-logo {
  height: 40vmin;
}
.body {
  display: flex;
  margin: 1rem 4rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
}
.cart-detail {
  flex: 1;
  margin-top: 0.8%;
}
.item-card {
  border-style: groove;
  padding: 20px;
  margin: 10px;
  height: 150px;
  width: 145px;
}
.img-item {
  margin-left: 16px;
  margin-top: -34px;
  width: 120px;
  height: 108px;
}
.discount-tag {
  background-color: #7aed66;
  width: 40px;
  height: 20px;
  text-align: left;
  padding-top: 4px;
  margin-left: -20px;
  font-size: 10px;
}
.item-detail {
  position: relative;
  background-color: #e6e1e1;
  width: 185px;
  margin-left: -20px;
  margin-top: 20px;
  height: 3.05rem;
}
.item-name {
  margin-bottom: 5px;
  padding-top: 3px;
  text-align: left;
}
.add-item {
  flex: 4;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  flex: 2;
  border-bottom: 1.8px solid #dddddd;
}

th {
  border-top: 1.8px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td {
  text-align: left;
  padding: 8px;
  border: none;
}
p {
  margin: 0px;
}

.strike {
  color: red;
}
.item-cart {
  flex-direction: column;
}

.item-price-details {
  border: 1px solid #dddddd;
  flex: 1;
  margin-top: 4%;
}
.price-table {
  width: 100%;
  flex-direction: column;
  text-align: left;
}

.order-total {
  background-color: #d8d8d8;
  display: flex;
  flex: 1;
  padding: 3%;
}
.price-wrapper {
  display: flex;
}
.add-button {
  cursor: pointer;
  border-color: rgb(0, 162, 255);
  color: rgb(0, 162, 255);
}
.add-button:focus {
  background-color: rgb(219, 215, 215);
}
.total-table-wrapper {
  flex-direction: column;
}
.total {
  padding: 3%;
  font-weight: bold;
}
.total-items {
  display: flex;
  flex: 1;
  padding: 3%;
}
.total-discount {
  display: flex;
  flex: 1;
  padding: 3%;
}
.align {
  flex: 1;
}
.align-price {
  flex: 1;
  text-align: center;
}
.align-last {
  flex: 1;
  text-align: right;
}
.img-item-icon {
  width: 40px;
  height: 40px;
}
.name-img-wrapper {
  border: 1px solid #dddddd;
  display: flex;
}
.item-name {
  margin: 8px;
}
.add-remove-wrapper {
  display: flex;
  height: 2rem;
  width: 4rem;
}
.quantity-div {
  height: 79%;
  border: 1px solid #dddddd;
  width: 100%;
  text-align: center;
  padding-top: 11%;
  margin-left: 8%;
  margin-right: 8%;
}
.remove-add {
  cursor: pointer;
  font-size: x-large;
}
.header-added-item {
  background-color: #7aed66;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  padding-top: 10px;
}
.header-wrapper {
  display: flex;
  padding: 8px;
}
